*, html, body {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden !important;
}

body {
  height: 100vh !important;
}

:root {
  --primary: #DB4152;
  --accent: #FCB415;
  --mobile: 600px;
}

@font-face {
  font-family: Ageo;
  src: url(assets/font/Ageo.otf);
}
@font-face {
  font-family: Ageo-bold;
  src: url(assets/font/Ageo-Bold.otf);
}
@font-face {
  font-family: Ageo-light;
  src: url(assets/font/Ageo-Thin.ttf);
}
* {
  font-family: "Ageo", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-top: 10px !important;
}
@media (max-width: 600px) {
  nav img {
    height: 42px;
  }
}
nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-links a {
  padding: 0 12px;
  margin: 0 8px;
  color: #000;
  text-decoration: none;
}
@media (max-width: 600px) {
  nav .nav-links a {
    padding: 0 2px;
  }
}
nav .nav-links a:hover {
  color: var(--primary);
}
@media (max-width: 600px) {
  nav .desktop-link {
    display: none;
  }
}
nav .menu {
  display: none;
  padding: 0 !important;
}
@media (max-width: 600px) {
  nav .menu {
    display: block;
  }
}
nav .menu img {
  height: 42px;
  width: 42px;
}
nav button {
  border: 2px var(--primary) solid;
  width: 140px;
  height: 42px;
  background: none;
  color: var(--primary);
  font-size: 18px;
  font-family: "Ageo-Bold";
}
nav button:hover {
  cursor: pointer;
}

.mobile-nav {
  display: none;
  width: 100%;
  padding-bottom: 0.5rem;
  box-sizing: content-box;
}
.mobile-nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
.mobile-nav ul a {
  display: block;
  width: 100%;
  color: #000;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  text-align: center;
  font-family: "Ageo-bold";
  font-weight: 600;
}
.mobile-nav ul a:focus {
  border: 2px lightblue solid;
}
.mobile-nav ul li {
  width: 100%;
}
@media (max-width: 600px) {
  .mobile-nav {
    display: none;
  }
}

.BlogPosts {
  padding-block: 2.5rem;
}
@media (max-width: 600px) {
  .BlogPosts {
    padding-block: 1.5rem;
  }
}
.BlogPosts ul {
  width: 75%;
  margin-inline: auto;
}
@media (max-width: 600px) {
  .BlogPosts ul {
    width: 100%;
  }
}
.BlogPosts ul a {
  text-decoration: none;
  color: #000;
}
.BlogPosts ul a li {
  margin-inline: auto;
  margin-block: 2rem;
  list-style: none;
  min-width: 50%;
  width: 75%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.BlogPosts ul a li:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.BlogPosts ul a li:hover > h2 {
  text-decoration: underline;
}
.BlogPosts ul a h2 {
  padding-block: 12px;
}
.BlogPosts ul a p {
  padding-block: 4px;
  font-family: "Ageo-bold";
}
.BlogPosts ul a h4 {
  padding-block: 4px;
  opacity: 0.5;
}

footer {
  height: 40vh;
  width: 100%;
  border-top: var(--primary) solid 4px;
}
@media (max-width: 600px) {
  footer {
    height: auto;
  }
}
footer .top {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 600px) {
  footer .top {
    justify-content: space-evenly;
  }
}
footer .top .col {
  margin: 16px;
  width: 1fr !important;
  display: flex;
  flex-direction: column;
}
footer .top h2 {
  margin-bottom: 20px;
  font-family: "Ageo-bold";
}
@media (max-width: 600px) {
  footer .top h2 {
    font-size: 20px;
  }
}
footer .top a {
  color: black;
  margin: 12px 0;
  margin-left: 20px;
  text-decoration: none;
}
@media (max-width: 600px) {
  footer .top a {
    margin-left: 0;
    font-size: 16px;
  }
}
footer .top a.logo {
  margin: 0;
}
@media (max-width: 600px) {
  footer .top .post {
    display: none;
  }
}
footer .top .insta {
  width: 160px;
  height: 160px;
}
footer .footnotes {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 48px;
}
@media (max-width: 600px) {
  footer .footnotes {
    margin-bottom: 0px;
  }
}
footer .footnotes h3 {
  font-size: 16px;
  color: var(--primary);
  font-family: "Ageo-Bold";
}
footer .footnotes p {
  color: #747474;
}
footer .footnotes p a {
  color: #747474 !important;
  font-family: "Ageo-Bold";
}/*# sourceMappingURL=blog.css.map */