*, html, body{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    overflow-x: hidden !important;
}
body{
    height: 100vh !important;
}

:root{
    --primary: #DB4152;
    --accent: #FCB415;
    --mobile: 600px;
}

$mobile : 600px;

@font-face {
    font-family: Ageo;
    src: url(assets/font/Ageo.otf);
}
@font-face {
    font-family: Ageo-bold;
    src: url(assets/font/Ageo-Bold.otf);
}
@font-face {
    font-family: Ageo-light;
    src: url(assets/font/Ageo-Thin.ttf);
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content
    }
}

*{
    font-family: 'Ageo', sans-serif;
}


//Desktop First Approach
.container {
    width: 80%;
    margin: 0 auto;

    @include mobile{
        width: 90%;
    }
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-top: 10px !important;

    img{
        @include mobile{
            height: 42px;
        }
    }
    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links a{
        padding: 0 12px;
        margin: 0 8px;
        color: #000;
        text-decoration: none;
        @include mobile{
            padding: 0 2px;
        }
    }
    .nav-links a:hover{
        color: var(--primary);
    }
    
    
    .desktop-link{
        @include mobile{
            display: none;
        }
    }
    .menu{
        display: none;
        padding: 0 !important;
        @include mobile{
            display: block;
        }
    }
    .menu img{
        height: 42px;
        width: 42px;
    }

    
    button{
        border: 2px var(--primary) solid ;
        width: 140px;
        height: 42px;
        background: none;
        color: var(--primary);
        font-size: 18px;
        font-family: 'Ageo-Bold';

        
    }
    button:hover{
        cursor: pointer;
    }
}
.mobile-nav{
    display: none;
    width: 100%;
    padding-bottom: 0.5rem;
    box-sizing: content-box;
    ul{
        width: 100%;
        //height: $nav-height*1.5;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        a{
            display: block;
            width: 100%;
            color: #000;
            text-decoration: none;
            list-style: none;
            padding: 1rem;
            text-align: center;
            font-family: 'Ageo-bold';
            font-weight: 600;
            &:focus{
                border: 2px lightblue solid;
            }
        }
        .l{
            //text-align: left;
        }
        .r{
            //text-align: right;
        }

        li{
            width: 100%;
        }
    }

    @include mobile{
        display: none;
    }
}


.BlogPosts{
    padding-block: 2.5rem;
    @include mobile{
        padding-block:1.5rem;
    }
    ul{
        width: 75%;
        //background-color: aqua;
        margin-inline: auto;
        @include mobile{
            width: 100%;
        }
        a{
            text-decoration: none;
            color: #000;
            li{
                margin-inline: auto;
                margin-block: 2rem;
                list-style: none;
                min-width: 50%;
                width: 75%;
                padding: 2rem;
                //background-color: burlywood;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            }
            li:hover{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
            li:hover>h2{
                text-decoration: underline;
            }
            h2{
                padding-block: 12px;
            }
            p{
                padding-block: 4px;
                font-family: 'Ageo-bold';
            }
            h4{
                padding-block: 4px;
                opacity: .5;
            }
        }
    }
}





footer{
    height: 40vh;
    width: 100%;
    border-top: var(--primary) solid 4px;
    @include mobile{
        height: auto;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include mobile{
            justify-content: space-evenly;
        }
        
        .col{
            margin: 16px;
            width: 1fr !important;
            display: flex;
            flex-direction: column;
        }
        h2{
            margin-bottom: 20px;
            font-family: 'Ageo-bold';
            @include mobile{
                font-size: 20px;
            }
        }
        a{
            color: black;
            margin: 12px 0;
            margin-left: 20px;
            text-decoration: none;
            @include mobile{
                margin-left: 0;
                font-size: 16px;
            }
        }
        a.logo{
            margin: 0;
        }
        .post{
            @include mobile{
                display: none;
            }
        }
        .insta{
            width: 160px;
            height: 160px;
        }
    }
    .footnotes{
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 48px;
        @include mobile{
            margin-bottom: 0px;
        }
        h3{
            font-size: 16px;
            color: var(--primary);
            font-family: 'Ageo-Bold';
        }
        p{
            color: #747474;
            a{
                color: #747474 !important;
                font-family: 'Ageo-Bold';
            }
        }
    }
}