*, html, body{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    overflow-x: hidden !important;
}
body{
    height: 100vh !important;
}

:root{
    --primary: #DB4152;
    --accent: #FCB415;
    --mobile: 600px;
}

$mobile : 600px;

@font-face {
    font-family: Ageo;
    src: url(assets/font/Ageo.otf);
}
@font-face {
    font-family: Ageo-bold;
    src: url(assets/font/Ageo-Bold.otf);
}
@font-face {
    font-family: Ageo-light;
    src: url(assets/font/Ageo-Thin.ttf);
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content
    }
}

*{
    font-family: 'Ageo', sans-serif;
}


//Desktop First Approach
.container {
    width: 80%;
    margin: 0 auto;

    @include mobile{
        width: 90%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-top: 10px !important;

    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links a{
        padding: 0 12px;
        margin: 0 8px;
        color: #000;
        text-decoration: none;
    }
    .nav-links a:hover{
        color: var(--primary);
    }
    .menu {
        padding: 0 !important;
    }
    .menu img{
        height: 42px;
        width: 42px;
    }

    .desktop-link{
        @include mobile{
            display: none;
        }
    }
    .menu{
        display: none;
        @include mobile{
            display: block;
        }
    }
    
    button{
        border: 2px var(--primary) solid ;
        width: 140px;
        height: 42px;
        background: none;
        color: var(--primary);
        font-size: 18px;
        font-family: 'Ageo-Bold';
    }
    button:hover{
        cursor: pointer;
    }
}
.mobile-nav{
    display: none;
    width: 100%;
    padding-bottom: 0.5rem;
    box-sizing: content-box;
    ul{
        width: 100%;
        //height: $nav-height*1.5;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        a{
            display: block;
            width: 50%;
            color: #000;
            text-decoration: none;
            list-style: none;
            padding: 1rem;
            text-align: center;
            font-family: 'Ageo-bold';
            font-weight: 600;
            &:focus{
                border: 2px lightblue solid;
            }
        }

        li{
            width: 100%;
        }
    }

    @include mobile{
        display: none;
    }
}

.contact{
    height: 90vh;
    width: 100%;
    background-color: #000;
    background-image: url('assets/contact-bg.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
        height: auto;
        flex-direction: column;
    }
    .info{
        margin-top: -10vh;
        margin-left: 10%;
        width: 50%;
        @include mobile{
            margin-top: 0;
            margin-left: 0;
            width: 80%;
            margin: 0 auto;
            padding: 36px 0;
        }
        h1{
            font-size: 32px;
            margin: 24px 0;
            @include mobile{
                font-size: 24px;
            }
        }
        p{
            font-size: 20px;
            font-family: 'Ageo-light';
            width: 70%;
            margin: 24px 0;
            @include mobile{
                width: 100%;
                font-size: 16px;
            }
        }
        h4{
            margin: 12px 0;
            span{
                color: var(--primary);
            }
        }
    }
    form{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--primary);
        height: 65vh;
        margin-right: 10%;
        @include mobile{
            width: 90% !important;
            max-width: 90%;
            margin: 0 auto;
            height: 540px;
            //margin-top: 48px;
            margin-bottom: 48px;
        }
        .inputs{
            display: flex;
            flex-direction: column;
            width: 90%;
            @include mobile{
                flex-direction: column;
                width: 90%;
            }
            
            input, textarea{
                width: 90%;
                height: 20px;
                margin-block: 12px;
                margin-inline: auto;
                //float: right;
                background: none;
                border: 2px rgba(255,255,255,0.5) solid;
                color: #fff !important;
                padding: 12px;
                resize: none;
                @include mobile{
                    width: 90% !important;
                    height: 32px;
                    margin: 12px auto;
                }
            }
            ::placeholder{
                color: #fff;
            }
            input:focus{
                border: 2px rgba(255,255,255,1) solid;
            }
            #message{
                height: 80px;
                //width: 380px;
                width: 90%;
                ::placeholder{
                    margin-top: 0;
                }
            }
            #subject{
                //width: 380px;
                width: 90%;
            }
        }
        .submit{
            float: left;
            @include mobile{
                float: none;
                display: flex;
                align-items: center;
                width: 90%;
            }
            button{
                height: 42px;
                background: #fff;
                border: none;
                color: var(--primary) !important;
                width: 140px;
                font-size: 18px;
                font-family: 'Ageo-Bold';
                margin: 12px;
                float: left;
                text-align: center;
                @include mobile{
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 100%;
                    height: 48px;
                    float: none;
                }
            }
            button:hover{
                cursor: pointer;
            }
        }
    }
}


footer{
    height: 40vh;
    width: 100%;
    border-top: var(--primary) solid 4px;
    @include mobile{
        height: auto;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include mobile{
            justify-content: space-evenly;
        }
        
        .col{
            margin: 16px;
            width: 1fr !important;
            display: flex;
            flex-direction: column;
        }
        h2{
            margin-bottom: 20px;
            font-family: 'Ageo-bold';
        }
        a{
            color: black;
            margin: 12px 0;
            margin-left: 20px;
            text-decoration: none;
            @include mobile{
                margin-left: 0;
                font-size: 20px;
            }
        }
        a.logo{
            margin: 0;
        }
        .post{
            @include mobile{
                display: none;
            }
        }
        .insta{
            width: 160px;
            height: 160px;
        }
    }
    .footnotes{
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 48px;
        @include mobile{
            margin-bottom: 40px;
        }
        h3{
            font-size: 16px;
            color: var(--primary);
            font-family: 'Ageo-Bold';
        }
        p{
            color: #747474;
            a{
                color: #747474 !important;
                font-family: 'Ageo-Bold';
            }
        }
    }
}