*, html, body {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden !important;
}

body {
  height: 100vh !important;
  scroll-behavior: smooth;
}

:root {
  --primary: #DB4152;
  --accent: #FCB415;
  --mobile: 600px;
}

@font-face {
  font-family: Ageo;
  src: url(assets/font/Ageo.otf);
}
@font-face {
  font-family: Ageo-bold;
  src: url(assets/font/Ageo-Bold.otf);
}
@font-face {
  font-family: Ageo-light;
  src: url(assets/font/Ageo-Thin.ttf);
}
* {
  font-family: "Ageo", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.btn-primary {
  height: 42px;
  background: #fff;
  border: none;
  color: var(--primary);
  width: 140px;
  font-size: 18px;
  font-family: "Ageo-Bold";
}

.btn-outline {
  height: 42px;
  width: 140px !important;
  background: none;
  border: 2px #fff solid;
  color: #fff;
  width: 140px;
  font-size: 18px;
}

button {
  margin-right: 16px;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-top: 10px !important;
}
nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-links a {
  padding: 0 12px;
  margin: 0 8px;
  color: #000;
  text-decoration: none;
}
nav .nav-links a:hover {
  color: var(--primary);
}
nav .menu {
  padding: 0 !important;
}
nav .menu img {
  height: 42px;
  width: 42px;
}
@media (max-width: 600px) {
  nav .desktop-link {
    display: none;
  }
}
nav .active {
  font-family: "Ageo-bold";
  color: var(--primary) !important;
}
nav .menu {
  display: none;
}
@media (max-width: 600px) {
  nav .menu {
    display: block;
  }
}
nav button {
  border: 2px var(--primary) solid;
  width: 140px;
  height: 42px;
  background: none;
  color: var(--primary);
  font-size: 18px;
  font-family: "Ageo-Bold";
}
nav button:hover {
  cursor: pointer;
}

.mobile-nav {
  display: none;
  width: 100%;
  padding-bottom: 0.5rem;
  box-sizing: content-box;
}
.mobile-nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
.mobile-nav ul a {
  display: block;
  width: 50%;
  color: #000;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  text-align: center;
  font-family: "Ageo-bold";
  font-weight: 600;
}
.mobile-nav ul a:focus {
  border: 2px lightblue solid;
}
.mobile-nav ul li {
  width: 100%;
}
@media (max-width: 600px) {
  .mobile-nav {
    display: none;
  }
}

.subhero {
  height: 70vh;
  width: 100%;
  color: #fff;
  position: relative;
  margin: 48px 0;
}
@media (max-width: 600px) {
  .subhero {
    margin: 0;
  }
}
.subhero .left {
  height: 70vh;
  width: 70%;
  position: relative;
  background-color: var(--primary);
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .subhero .left {
    height: auto;
    width: 100%;
    padding: 56px 0;
    margin: 0 auto;
    float: left;
  }
}
.subhero .left .text {
  width: 50%;
  margin-left: 15%;
}
@media (max-width: 600px) {
  .subhero .left .text {
    width: 100%;
    margin-left: 5%;
  }
}
.subhero .left h1 {
  font-size: 42px;
  font-family: "Ageo";
}
@media (max-width: 600px) {
  .subhero .left h1 {
    font-size: 32px;
  }
}
.subhero .left h1 span {
  font-family: "Ageo-bold";
}
.subhero .left p {
  font-family: "Ageo", sans-serif;
  font-size: 16px;
  line-height: 150%;
  width: 70%;
  padding: 14px 0;
  margin-bottom: 14px;
}
@media (max-width: 600px) {
  .subhero .left p {
    width: 100%;
  }
}
.subhero .img {
  background-image: url("assets/IMG_2673 (1).JPG");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 50%;
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
@media (max-width: 600px) {
  .subhero .img {
    height: 30vh;
    position: relative;
    left: 0;
    width: 100%;
    right: initial;
    top: 0;
    transform: translateY(0);
  }
}

.ourSDG {
  height: 80vh;
  margin: 10vh auto;
  display: flex;
  width: 70%;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .ourSDG {
    height: auto;
  }
}
@media (max-width: 600px) {
  .ourSDG {
    height: 100%;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
}
.ourSDG .left {
  width: 50%;
  padding: 96px 0;
  min-width: 40%;
}
@media (max-width: 1200px) {
  .ourSDG .left {
    padding: 36px 0;
  }
}
@media (max-width: 600px) {
  .ourSDG .left {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin-top: 28px;
  }
}
.ourSDG .left h1 {
  font-size: 42px;
  font-weight: 100;
}
@media (max-width: 600px) {
  .ourSDG .left h1 {
    font-size: 32px;
  }
}
.ourSDG .left h1 span {
  font-family: "Ageo-bold", sans-serif;
}
.ourSDG .left .line {
  height: 2px;
  width: 40%;
  background-color: var(--accent);
  margin: 20px 0;
}
.ourSDG .left p {
  font-family: "Ageo", sans-serif;
  font-size: 16px;
  line-height: 150%;
  width: 70%;
  padding: 14px 0;
  margin-bottom: 14px;
}
@media (max-width: 600px) {
  .ourSDG .left p {
    width: 90%;
  }
}
.ourSDG .left .btn-primary {
  height: 42px;
  background: var(--primary);
  border: none;
  color: #fff;
  width: 160px;
  font-size: 18px;
  font-family: "Ageo-Bold";
}
@media (max-width: 600px) {
  .ourSDG .right {
    width: 100%;
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ourSDG .right .top {
  display: flex;
}
.ourSDG .right .bottom {
  display: flex;
}
.ourSDG .right .box {
  height: 200px;
  width: 200px;
  padding: 12PX;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
@media (max-width: 600px) {
  .ourSDG .right .box {
    height: 150px;
    width: 150px;
    margin-inline: 8px;
    padding-inline: 8px;
  }
}
@media (max-width: 1200px) {
  .ourSDG .right .box {
    height: 160px;
    width: 160px;
  }
}
.ourSDG .right .box .icon {
  height: 48px;
  width: auto;
  margin-bottom: 12px;
  margin-top: 16px;
}
@media (max-width: 600px) {
  .ourSDG .right .box .icon {
    height: 36px;
  }
}
@media (max-width: 1200px) {
  .ourSDG .right .box .icon {
    height: 36px;
  }
}
.ourSDG .right .box h1 {
  font-size: 32px;
  color: var(--primary);
  font-family: "Ageo-Bold";
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12PX;
  color: #fff;
}
@media (max-width: 600px) {
  .ourSDG .right .box h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }
}
@media (max-width: 1200px) {
  .ourSDG .right .box h1 {
    font-size: 24px;
  }
}
.ourSDG .right .one {
  background-color: #28a745;
}
.ourSDG .right .two {
  background-color: var(--primary);
}
.ourSDG .right .three {
  background-color: #ff9832;
}
.ourSDG .right .four {
  background-color: #dc1769;
}

#ourway {
  height: 60vh;
  margin-top: 90px !important;
}
@media (max-width: 600px) {
  #ourway {
    margin-top: 8px;
    height: 100%;
    margin-bottom: 80px;
  }
}
#ourway h1 {
  text-align: center;
  font-size: 36px;
}
@media (max-width: 600px) {
  #ourway h1 {
    font-size: 28px;
  }
}
#ourway h1 span {
  color: var(--primary);
  font-family: "Ageo-Bold";
}
#ourway .columns {
  display: flex;
  margin: 35px 0;
}
@media (max-width: 600px) {
  #ourway .columns {
    flex-direction: column;
  }
}
#ourway .columns .col {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 600px) {
  #ourway .columns .col {
    margin: 8px 0;
  }
}
#ourway .columns .col .icon {
  height: 64px;
  margin: 12px 0;
}
@media (max-width: 600px) {
  #ourway .columns .col .icon {
    height: 36px;
    margin: 4px 0;
  }
}
#ourway .columns .col h1 {
  font-size: 24px;
  margin: 20px 0;
}
#ourway .columns .col .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--accent);
  margin-bottom: 20px;
}
#ourway .columns .col p {
  line-height: 160%;
  width: 90%;
}

.gallery {
  height: 70vh;
}
@media (max-width: 600px) {
  .gallery {
    height: auto;
    margin-bottom: 20px;
  }
}
.gallery h1 {
  text-align: center;
  padding-bottom: 20px;
}
.gallery .images {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
@media (max-width: 600px) {
  .gallery .images {
    flex-direction: column;
  }
}
.gallery .img {
  width: 30%;
  height: 300px;
  background-image: url("assets/IMG_5778.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .gallery .img {
    width: 100%;
    margin-bottom: 16px;
  }
}
.gallery .s {
  background-image: url("assets/IMG_2527.jpg");
}
.gallery .t {
  background-image: url("assets/banner/banner 1.png");
}
.gallery a {
  display: flex;
  text-decoration: none;
}
.gallery .btn-primary {
  background: var(--primary);
  color: #fff;
  margin: 0 auto;
}

.pillars {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .pillars {
    margin-top: 10vh;
  }
}
.pillars h1 {
  text-align: center;
  font-size: 36px;
}
@media (max-width: 600px) {
  .pillars h1 {
    font-size: 28px;
  }
}
.pillars h1 span {
  color: var(--primary);
  font-family: "Ageo-Bold";
}
.pillars p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  opacity: 0.75;
}
@media (max-width: 600px) {
  .pillars p {
    width: 80%;
  }
}
.pillars .container {
  display: flex;
  justify-content: center;
}
.pillars .btn-primary {
  background-color: var(--primary);
  color: #fff;
  height: 120px;
  width: 120px;
  font-size: 20px;
  border-radius: 50%;
  border: 4px solid white;
  transform: translateY(50%);
}
@media (max-width: 600px) {
  .pillars .btn-primary {
    transform: translateY(-50%);
    margin-top: 70%;
    margin-bottom: -30px;
  }
}
.pillars .columns {
  width: 100%;
  height: 50vh;
  display: flex;
}
@media (max-width: 600px) {
  .pillars .columns {
    flex-direction: column;
    height: auto;
  }
}
.pillars .columns a {
  text-decoration: none;
}
.pillars .columns .col {
  height: 50vh;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
@media (max-width: 600px) {
  .pillars .columns .col {
    height: 25vh;
  }
}
.pillars .columns .col .info-mhm, .pillars .columns .col .info-fl, .pillars .columns .col .info-ll {
  opacity: 0;
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 600px) {
  .pillars .columns .col .info-mhm, .pillars .columns .col .info-fl, .pillars .columns .col .info-ll {
    height: 25vh;
    opacity: 1;
  }
}
.pillars .columns .mhm {
  background-image: url("assets/mhm.jpg");
  background-size: cover;
  background-position: center;
}
.pillars .columns .mhm:hover {
  cursor: pointer;
}
.pillars .columns .mhm:hover .info-mhm {
  opacity: 1;
}
.pillars .columns .fl {
  background-image: url("assets/banner 3.JPG");
  background-size: cover;
}
.pillars .columns .fl:hover {
  cursor: pointer;
}
.pillars .columns .fl:hover .info-fl {
  opacity: 1;
}
.pillars .columns .ll {
  background-image: url("assets/banner 2.jpg");
  background-size: cover;
  background-position: center;
}
.pillars .columns .ll:hover {
  cursor: pointer;
}
.pillars .columns .ll:hover .info-ll {
  opacity: 1;
}

.pillars-info {
  padding-bottom: 10vh;
}
@media (max-width: 600px) {
  .pillars-info {
    margin-top: 25%;
  }
}
.pillars-info .mhm, .pillars-info .ll, .pillars-info .fl {
  padding: 16px 0;
}
@media (max-width: 600px) {
  .pillars-info .mhm, .pillars-info .ll, .pillars-info .fl {
    padding: 8px 0;
  }
}
.pillars-info .mhm h1, .pillars-info .ll h1, .pillars-info .fl h1 {
  font-family: "Ageo-Bold";
  color: var(--primary);
  margin: 20px 0;
}
.pillars-info .mhm p, .pillars-info .ll p, .pillars-info .fl p {
  margin: 20px 0;
  line-height: 150%;
}
.pillars-info .mhm p span, .pillars-info .ll p span, .pillars-info .fl p span {
  font-family: "Ageo-Bold";
}
.pillars-info a {
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.pillars-info .btn-primary {
  background-color: var(--primary);
  color: #fff;
  text-decoration: none;
}

footer {
  height: 40vh;
  width: 100%;
  border-top: var(--primary) solid 4px;
}
@media (max-width: 600px) {
  footer {
    height: auto;
  }
}
footer .top {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 600px) {
  footer .top {
    justify-content: space-evenly;
  }
}
footer .top .col {
  margin: 16px;
  width: 1fr !important;
  display: flex;
  flex-direction: column;
}
footer .top h2 {
  margin-bottom: 20px;
  font-family: "Ageo-bold";
}
footer .top a {
  color: black;
  margin: 12px 0;
  margin-left: 20px;
  text-decoration: none;
}
@media (max-width: 600px) {
  footer .top a {
    margin-left: 0;
    font-size: 20px;
  }
}
footer .top a.logo {
  margin: 0;
}
@media (max-width: 600px) {
  footer .top .post {
    display: none;
  }
}
footer .top .insta {
  width: 160px;
  height: 160px;
}
footer .footnotes {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 48px;
}
@media (max-width: 600px) {
  footer .footnotes {
    margin-bottom: 40px;
  }
}
footer .footnotes h3 {
  font-size: 16px;
  color: var(--primary);
  font-family: "Ageo-Bold";
}
footer .footnotes p {
  color: #747474;
}
footer .footnotes p a {
  color: #747474 !important;
  font-family: "Ageo-Bold";
}/*# sourceMappingURL=sdg.css.map */