*, html, body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #DB4152;
  --accent: #FCB415;
  --mobile: 600px;
}

@font-face {
  font-family: Ageo;
  src: url(assets/Ageo.otf);
}
@font-face {
  font-family: Ageo-bold;
  src: url(assets/Ageo-Bold.otf);
}
* {
  font-family: "Ageo", sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .container {
    width: 70%;
  }
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

nav {
  height: 12%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-top: 15px !important;
}
@media (min-width: 600px) {
  nav {
    margin-top: 0 !important;
  }
}
nav .logo {
  box-sizing: border-box;
  height: 100%;
  padding: 20px 0;
}
nav img {
  height: 100%;
}
nav .nav-links {
  box-sizing: border-box;
  height: 100%;
  padding: 24px 0;
}
nav .donate {
  height: 100%;
  width: 120px;
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  nav .donate {
    width: 140px;
    height: 75%;
    font-size: 20px;
    padding: 30px 10px;
  }
}
nav a {
  text-decoration: none;
}
nav button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  transition: linear 0.4s;
}

main {
  width: 100%;
}
@media (min-width: 600px) {
  main {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
}
main .img-div {
  width: 100%;
  position: relative;
  background-image: url("assets/landing-img.jpeg");
  height: 40vh;
  background-position: center;
  background-size: cover;
}
@media (min-width: 600px) {
  main .img-div {
    height: 80vh;
  }
}
main .img-div .field {
  position: absolute;
  bottom: 24px;
  background-color: var(--primary);
  font-weight: 800;
  font-size: 14px;
  line-height: 153.5%;
  color: #fff;
  padding: 6px 16px;
  border-radius: 18px;
}
@media (min-width: 600px) {
  main .img-div .field {
    left: 24px;
  }
}
main .info {
  margin-top: 42px;
}
@media (min-width: 600px) {
  main .info {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px;
    padding-right: 0;
    padding-bottom: 0;
  }
}
main h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
}
main strong {
  font-family: "Ageo-bold", sans-serif;
}
main .bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 600px) {
  main .bottom {
    bottom: 0;
  }
}
main p {
  width: 50%;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  padding: 20px 0;
}
main .btn-container {
  position: absolute;
  bottom: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .btn-container .btn {
  height: 86px;
  width: 86px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: pulse 1.5s ease-in-out 0s infinite alternate;
          animation: pulse 1.5s ease-in-out 0s infinite alternate;
  margin: 0;
}
@-webkit-keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}
main .btn-container .continue {
  display: none;
  color: var(--primary);
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  width: 200%;
  text-align: center !important;
}
main .btn-container .continue p {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
}
@media (min-width: 600px) {
  main .btn-container .continue {
    display: inline;
  }
}

.absolute {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--accent);
  font-weight: 200;
  text-align: center;
  flex-direction: column;
}

video {
  width: 90%;
  height: auto;
  margin-top: 10px;
}
@media (min-width: 600px) {
  video {
    height: 50vh;
    margin-top: 50px;
  }
}/*# sourceMappingURL=style.css.map */