---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Privacy Policy">
  <main class="other-content">
    <h1>Privacy Policy</h1>

    <p>
      Her Haq takes your privacy seriously and treats all financial information
      about any transaction you have with us as highly confidential. In
      addition, Her Haq does not share e-mail addresses or phone numbers of any
      of our donors or constituents.
    </p>
    <br />
    <p>To protect donor privacy we maintain the following policies:</p>
    <ul>
      <li>
        We may request personal information online, such as name, address, phone
        number, PAN/Aadhar number, email address, UPI ID and credit/debit card
        number only for the purposes of accepting donations.
      </li>
      <li>
        We will not release or use this information for any other purpose unless
        we have your consent.
      </li>
      <li>
        We do not trade or sell your personal information with other
        organisations.
      </li>
      <li>We offer donors the option to be recognised anonymously.</li>
      <li>
        Donors may request, at any time, to not receive our solicitations.
      </li>
      <li>
        Donors may request to not receive certain mailings, such as our
        newsletter.
      </li>
      <li>
        We do not track, collect or distribute personal information entered by
        those who visit our website.
      </li>
      <li>
        Personal data collected through our website is encrypted using 256-bit
        AES (Advanced Encryption Standard) technology.
      </li>
    </ul>
    <br />
    <p>
      To assure that philanthropy merits the respect and trust of the general
      public, and that donors and prospective donors can have full confidence in
      the not-for-profit organisations and causes they are asked to support, we
      assure the following :
    </p>
    <ul>
      <li>
        To be informed of Her Haq’s mission, of the way Her Haq intends to use
        donated resources, and of its capacity to use donations effectively for
        their intended purposes.
      </li>
      <li>
        To be informed of the identity of those serving on Her Haq’s governing
        board, and to expect the board to exercise prudent judgment in its
        responsibilities.
      </li>
      <li>To receive appropriate acknowledgment and recognition.</li>
      <li>
        To be assured that information about their donations is handled with
        respect and with confidentiality to the extent provided by law.
      </li>
      <li>
        To expect that all relationships with individuals representing Her Haq
        to the donor will be professional.
      </li>
      <li>
        To feel free to ask questions when making a donation and to receive
        prompt, truthful and forthright answers.
      </li>
    </ul>

    <h2>What information we collect</h2>
    <p>
      We use personal information collected from donors for the purposes of
      processing payments and communicating with donors about Her Haq. This
      information may include name, amount donated, address, phone number,
      PAN/Aadhar number, e-mail address, credit/debit card, UPI ID and any other
      personal information provided to us. Additionally, this information may be
      used for taxation and regulatory compliance purposes, including the
      issuance of donation receipts and maintenance of records as required by
      applicable laws.
      <br /><br />
      Information from Payment Processors and Other Service Providers: Payment processors
      allow donors to give electronically using a payment services account, a credit
      card, or other payment method. These processors collect certain information
      from donors, and you should consult their privacy policies to determine their
      practices.
    </p>

    <h2>How we use that information</h2>
    <p>Donor Data may be used for the following purposes:</p>
    <ul>
      <li>Distributing receipts and thanking donors for donations</li>
      <li>
        Informing donors about upcoming fundraising and other activities of Her
        Haq
      </li>
      <li>Internal analysis, such as research and analytics</li>
      <li>Record keeping</li>
      <li>Reporting to applicable government agencies as required by law</li>
    </ul>
    <br />
    <p>
      We may use available information to supplement the Donor Data to improve
      the information we use to drive our fundraising efforts. We may allow
      donors the option to have their name publicly associated with their
      donation unless otherwise requested as part of the online donation
      process.
    </p>
    <br />
    <p>
      You have certain rights with respect to the information we collect about
      you. Upon request, we will tell you what information we hold about you and
      correct any incorrect information. We will also make reasonable efforts to
      delete your information if you ask us to do so, unless we are otherwise
      required to keep it.
    </p>
    <br />
    <p>
      If you have any questions about our Privacy Policy or requests about the
      status and correctness of your donor data, please contact us at <a
        href="mailto:info@herhaq.com">info@herhaq.com</a
      >.
    </p>
  </main>
</MainLayout>
