---
import MainLayout from "../../layouts/MainLayout.astro";

MainLayout;
---

<MainLayout title="Refund Policy">
  <main class="other-content">
    <h1>Refund Policy</h1>
    <p>
      Any request for cancellations and refund of online donations once duly
      placed on the website, shall not be entertained under any circumstances.
      No cash or refund of money will be allowed after completing the online
      donation. We therefore request you to be sure before you donate.
    </p>
  </main>
</MainLayout>
