---
import MainLayout from "../../layouts/MainLayout.astro";

MainLayout;
---

<MainLayout title="Terms and Conditions">
  <main class="other-content">
    <h1>Terms and Conditions</h1>
    <p>
      The use of this site is provided by Her Haq and is subject to the
      following Terms and Conditions.
    </p>
    <br />
    <ol>
      <li>
        Your use of the site constitutes acceptance of these Terms and
        Conditions.
      </li>
      <li>
        You agree to use this site only for lawful purposes, and in a manner
        which does not infringe the rights of Her Haq or any third party
        (including without limitation any Her Haq’s sponsor or beneficiary) or
        the use and enjoyment of the site by any third party.
      </li>
      <li>
        Her Haq shall in no event be liable for any damages including, without
        limitation, direct, indirect or consequential damages, whatsoever
        arising from or in connection with the use or loss of use of the site,
        or any content on the site.
      </li>
      <li>
        Her Haq can change these Terms and Conditions at any time by posting
        changes online under this section “Terms and Conditions”. Your continued
        use of this site after changes have been posted constitutes acceptance
        of the modified terms.
      </li>
      <li>
        Her Haq does not guarantee that the site’s facilities and functions will
        be free from error or uninterrupted, that the site or the server that
        makes it available to you are free of viruses or bugs, that defects will
        be corrected, or that the content on the site is accurate or complete.
      </li>
      <li>
        Her Haq takes no responsibility for the content of external Internet
        sites linked to or cited on this site.
      </li>
      <li>
        Any communication or material that you transmit to, or post on any
        public area of this site will be treated as non-confidential and
        non-proprietary information unless otherwise stated by Her Haq. We
        reserve the right to remove any material posted in any public area of
        the site.
      </li>
      <li>
        Donations to Her Haq may only be made by individuals who are 18 years of
        age or older. By proceeding with a donation, you represent and warrant
        that you meet this age requirement and have the legal authority to make
        the donation using your own funds or with proper authorization.
      </li>
      <li>
        These terms and conditions shall be governed by and construed in
        accordance with the laws of India. Any disputes shall be subject to the
        exclusive jurisdiction of the Courts of India.
      </li>
    </ol>
    <br />
    <p>
      If you do not accept these Terms and Conditions in full, you must stop
      using this site immediately. We reserve the right to prevent you accessing
      this site, without prejudice to any of our other rights, if we consider
      that you have contravened any of these Terms and Conditions.
    </p>
  </main>
</MainLayout>
