---
import MainLayout from '../layouts/MainLayout.astro';
import Link from '../components/Link.astro';
---
<MainLayout title='Blog' description='The blog page for Her Haq, find all the latest articles over here.'>
    <h1>Blog</h1>
    <Link
        text='Get involved' 
        href='/' 
        style='btn-primary'
    />
    <Link
        text='What we do' 
        href='/' 
        style='btn-outline'
    />
    <Link
        text='A link' 
        href='https://www.behance.net/kurilpratik' 
        style='link'
    />
</MainLayout>
