---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Our Work" description="Highlights of the work done by Her Haq">
    <p>Changing default branch to astro from master - works</p>
</MainLayout>