---
import type { boolean } from 'astro:schema';

interface Props {
    text: string;
    href: string;
    style: "link" | "btn-primary" | "btn-outline"; 
    classes?: string;
}

const { 
    text,
    href,
    style = 'btn-primary',
    classes,
    ...rest
 } = Astro.props as Props;

---

<a 
    href={href}
    class:list={[
        classes,
        style
    ]}
    {...rest}
>
    <span>{text}</span>
</a>

<style lang="scss">
    @import '../styles/styles.scss';
    
    %link {
        height: 2.5rem;
        padding: 0rem 1.25rem;
        display: inline-flex;
        place-items: center;
        text-decoration: none;
        font-family: 'Ageo-bold';
        cursor: pointer;
    }

    .link{
        @extend %link;
        font-family: 'Ageo';
        color: black;
        &:hover{
            color: $primary;
        }
    }
    .btn-primary {
        @extend %link;
        background-color: $primary;
        border: none;
        color: #fff;
        &:hover{
            background-color: darken($color: $primary, $amount: 10);
        }
    }
    .btn-outline {
        @extend %link;
        background-color: transparent;
        border: 2px solid $primary;
        height: calc(auto - 4px);
        color: $primary;
        &:hover{
            background-color: $primary;
            color: #fff;;
        }
    }
</style>
