---
import navbarData from "../data/navbarData";
import Link from "./Link.astro";

// Get current path for active link detection
const currentPath = Astro.url.pathname;
---

<nav class="container" aria-label="Primary">
  <a href="/index.html" class="logo">
    <img src="/logos/logo.png" alt="Logo for HerHaq" />
  </a>
  <div class="nav-links">
    {
      navbarData.map((item) => {
        const isActive =
          currentPath === item.path ||
          (currentPath === "/" && item.path === "/");
        // (currentPath !== "/" && currentPath.startsWith(item.path));
        // Useful for extended paths such as about/Aanya
        return (
          <a
            href={item.path}
            class={`desktop-link ${isActive ? "active" : ""}`}
          >
            {item.name}
          </a>
        );
      })
    }
    <!-- <Link href='/contact.html' text='Contact Us' style='btn-outline' /> -->
    <a class="menu" id="menu">
      <img
        src="/assets/icons/menu.png"
        class="menu-icon"
        id="menu-icon"
        alt=""
      />
    </a>
  </div>
</nav>

<div class="mobile-nav" id="mobile-nav" style="display:none">
  <div class="container">
    <ul>
      {
        navbarData.map((item) => {
          const isActive =
            currentPath === item.path ||
            (currentPath === "/" && item.path === "/") ||
            (currentPath !== "/" && currentPath.startsWith(item.path));
          return (
            <a href={item.path} class={isActive ? "active" : ""}>
              <li>{item.name}</li>
            </a>
          );
        })
      }
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    /* Mobile Nav */
    const menu = document.getElementById("menu") as HTMLImageElement;
    const menuIcon = document.getElementById("menu-icon") as HTMLImageElement;
    const mobileNav = document.getElementById("mobile-nav");

    menu.addEventListener("click", () => {
      if (mobileNav.style.display == "none") {
        mobileNav.style.display = "block";
        menuIcon.src = "/assets/icons/close-icon.png";
        menuIcon.height = 36;
        menuIcon.width = 36;
      } else {
        mobileNav.style.display = "none";
        menuIcon.src = "/assets/icons/menu.png";
        menuIcon.height = 42;
        menuIcon.width = 42;
      }
    });
  });
</script>

<style lang="scss" is:global>
  @import "../styles/styles.scss";
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-top: 10px !important;

    img {
      @include mobile {
        height: 42px;
      }
    }
    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-links a {
      padding: 0 12px;
      margin: 0 8px;
      color: $primary;
      text-decoration: none;
      @include mobile {
        padding: 0 2px;
      }
    }
    .nav-links a:hover {
      color: $primary;
    }

    .nav-links a.active {
      color: $primary;
      font-weight: $font-weight-bold;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 4px;
        background-color: $primary;
        border-radius: 1px;
      }
    }

    .desktop-link {
      @include mobile {
        display: none;
      }
    }
    .menu {
      display: none;
      padding: 0 !important;
      @include mobile {
        display: block;
      }
    }
    .menu img {
      height: 42px;
      width: 42px;
    }
  }
  .mobile-nav {
    display: none;
    width: 100%;
    padding-bottom: 0.5rem;
    box-sizing: content-box;
    ul {
      width: 100%;
      //height: $nav-height*1.5;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;
      a {
        display: block;
        width: 100%;
        color: #000;
        text-decoration: none;
        list-style: none;
        padding: 1rem;
        text-align: center;
        font-weight: $font-weight-bold;
        font-weight: 600;
        transition: all 0.3s ease;

        &:focus {
          border: 2px lightblue solid;
        }

        &.active {
          color: $primary;
          background-color: rgba($primary, 0.1);
          border-left: 3px solid $primary;
          font-weight: 700;
        }
      }
      .l {
        //text-align: left;
      }
      .r {
        //text-align: right;
      }

      li {
        width: 100%;
      }
    }

    @include mobile {
      display: none;
    }
  }
</style>
