---
import MainHead from './MainHead.astro';

import Navbar from '../components/Navbar.astro';

//Using typescript
interface Props {
    title: string;
    description?: string;
}
const { 
    title,
    description
} = Astro.props as Props; //Destructured
---

<html lang="en">
    <MainHead title={title} description={description}/>
	<body>
        <Navbar />
		<slot />
	</body>
</html>
